html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: Arial, sans-serif;
	font-size: 16px;
}

.marquee {
	background: black;
	color: white;
	height: 40px;
	display: flex;
	flex-flow: column;
	justify-content: center;
}

.message-list {
	display: block;
	margin: 0;
	padding: 0;
}

.message-list li {
	display: inline-block;
}

.message-list li:not(:last-child):after {
	content: '•';
	margin: 0 10px;
}

h1 {
	margin-bottom: 50px;
}

canvas {
	display: block;
}

body {
	overflow: hidden;
}
